h1	{
	color: #fff;
/*	font-family: roboto; */
	font-weight: 900;
/*	text-transform: uppercase;*/
} 

body {
	padding-top: 100px;
}

.navbar-collapse {
	justify-content: flex-end;
}

.text-skills {
	color: #5b258e;
}

#skills {
	background-color: #4682b4;
}

#skills .card {
	background-color: #4682b4;
	border: none;
	/* #db7093; */
	/* #5b258e; */
}
#skills .badge {
	background-color: ;
}

#contact {
	color: black;
}